# KDE Config File
[Desktop Entry]
Type=Application
Version=1.0
Name=KXStitch
GenericName=Cross Stitch Editor
Comment=A cross stitch application
Icon=kxstitch
Exec=kxstitch -caption %c %i %U
Terminal=false
MimeType=application/kxstitch;
Categories=Qt;KDE;Graphics;2DGraphics;RasterGraphics;
