# KDE Config File
[Desktop Entry]
Type=Application
Version=1.0
Name=KXStitch
Name[bs]=KXStitch
Name[ca]=KXStitch
Name[ca@valencia]=KXStitch
Name[cs]=KXStitch
Name[da]=KXStitch
Name[de]=KXStitch
Name[el]=KXStitch
Name[en_GB]=KXStitch
Name[es]=KXStitch
Name[et]=KXStitch
Name[eu]=KXStitch
Name[fr]=KXStitch
Name[gl]=KXStitch
Name[hu]=KXStitch
Name[it]=KXStitch
Name[nl]=KXStitch
Name[nn]=KXStitch
Name[pl]=KXStitch
Name[pt]=KXStitch
Name[pt_BR]=KXStitch
Name[ru]=KXStitch
Name[sk]=KXStitch
Name[sv]=KXStitch
Name[tr]=KXStitch
Name[uk]=KXStitch
Name[x-test]=xxKXStitchxx
Name[zh_CN]=KXStitch
GenericName=Cross Stitch Editor
GenericName[bs]=Uređivač goblena
GenericName[ca]=Editor de punt de creu
GenericName[ca@valencia]=Editor de punt de creu
GenericName[cs]=Editor symbolů pro vyšívání křížkovým stehem
GenericName[da]=Editor til korssting
GenericName[de]=Kreuzstich-Editor
GenericName[el]=Επεξεργαστής μοτίβου σταυροβελονιάς
GenericName[en_GB]=Cross Stitch Editor
GenericName[es]=Editor de punto de cruz
GenericName[et]=Tikkimispistete redaktor
GenericName[eu]=Gurutze-puntu editorea
GenericName[fr]=Éditeur de modèles à broder au point de croix
GenericName[gl]=Editor de cruz en punta
GenericName[hu]=Keresztszemes szerkesztő
GenericName[it]=Editor per punto croce
GenericName[nl]=Kruissteek bewerker
GenericName[nn]=Redigeringsprogram for krossting
GenericName[pl]=Edytor Cross Stitch
GenericName[pt]=Editor de Ponto de Cruz
GenericName[pt_BR]=Editor de ponto de cruz
GenericName[sk]=Editor krížových stehov
GenericName[sv]=Korsstygnseditor
GenericName[tr]=Çapraz Dikiş Düzenleyici
GenericName[uk]=Редактор схем для вишивання хрестиком
GenericName[x-test]=xxCross Stitch Editorxx
Comment=A cross stitch application
Comment[bs]=Aplikacija za uređivanje goblena
Comment[ca]=Una aplicació de punt de creu
Comment[ca@valencia]=Una aplicació de punt de creu
Comment[cs]=Aplikace pro vyšívání křížkovým stehem
Comment[da]=Et program til korssting
Comment[de]=Ein Kreuzstich-Programm
Comment[el]=Μια εφαρμογή για σταυροβελονιές
Comment[en_GB]=A cross stitch application
Comment[es]=Una aplicación de punto de cruz
Comment[et]=Tikkimispistete rakendus
Comment[eu]=Gurutze-punturako aplikazio bat
Comment[fr]=Éditeur et concepteur de modèles à broder au point de croix, avec possibilité d'importation d'images
Comment[gl]=Un aplicativo de cruz en punta.
Comment[hu]=Egy keresztszemes alkalmazás
Comment[it]=Un'applicazione per il punto croce
Comment[nl]=Een programma voor kruissteken
Comment[nn]=Krosstingprogram
Comment[pl]=Program cross stitch
Comment[pt]=Uma aplicação de ponto de cruz
Comment[pt_BR]=Um aplicativo de ponto de cruz
Comment[sk]=Aplikácia na krížové stehy
Comment[sv]=Ett korsstygnsprogram
Comment[tr]=Bir çapraz dikiş uygulaması
Comment[uk]=Програма для роботи зі схемами для вишивання хрестиком
Comment[x-test]=xxA cross stitch applicationxx
Icon=kxstitch
Exec=kxstitch -qwindowtitle "%c" %U
Terminal=false
MimeType=application/kxstitch;
Categories=Qt;KDE;Graphics;2DGraphics;RasterGraphics;
X-DocPath=kxstitch/index.html
X-DBUS-StartupType=None
X-DBUS-ServiceName=org.kde.kxstitch
