# KDE Config File
[Desktop Entry]
Type=Application
Version=1.0
Name=KXStitch
Name[bs]=KXStitch
Name[ca]=KXStitch
Name[ca@valencia]=KXStitch
Name[cs]=KXStitch
Name[da]=KXStitch
Name[de]=KXStitch
Name[el]=KXStitch
Name[en_GB]=KXStitch
Name[eo]=KXStitch
Name[es]=KXStitch
Name[et]=KXStitch
Name[eu]=KXStitch
Name[fi]=KXStitch
Name[fr]=KXStitch
Name[gl]=KXStitch
Name[he]=KXStitch
Name[hu]=KXStitch
Name[it]=KXStitch
Name[ka]=KXStitch
Name[ko]=KXStitch
Name[nl]=KXStitch
Name[nn]=KXStitch
Name[pl]=KXStitch
Name[pt]=KXStitch
Name[pt_BR]=KXStitch
Name[ru]=KXStitch
Name[sk]=KXStitch
Name[sl]=KXStitch
Name[sv]=KXStitch
Name[tr]=KX Dikiş
Name[uk]=KXStitch
Name[zh_CN]=KXStitch
Name[zh_TW]=KXStitch
GenericName=Cross Stitch Editor
GenericName[bs]=Uređivač goblena
GenericName[ca]=Editor de punt de creu
GenericName[ca@valencia]=Editor de punt de creu
GenericName[cs]=Editor symbolů pro vyšívání křížkovým stehem
GenericName[da]=Editor til korssting
GenericName[de]=Kreuzstich-Editor
GenericName[el]=Επεξεργαστής μοτίβου σταυροβελονιάς
GenericName[en_GB]=Cross Stitch Editor
GenericName[eo]=Kruckudra Redaktilo
GenericName[es]=Editor de punto de cruz
GenericName[et]=Tikkimispistete redaktor
GenericName[eu]=Gurutze-puntu editorea
GenericName[fr]=Éditeur de modèles à broder au point de croix
GenericName[gl]=Editor de cruz en punta
GenericName[he]=עורך תכים משוכלים
GenericName[hu]=Keresztszemes szerkesztő
GenericName[it]=Editor per punto croce
GenericName[ka]=ქარგვის აპლიკაცია
GenericName[ko]=십자수 편집기
GenericName[nl]=Kruissteek bewerker
GenericName[nn]=Teikneprogram for krossting-mønster
GenericName[pl]=Edytor Cross Stitch
GenericName[pt]=Editor de Ponto de Cruz
GenericName[pt_BR]=Editor de ponto de cruz
GenericName[ru]=Редактор схем для вышивки крестом
GenericName[sk]=Editor krížových stehov
GenericName[sl]=Urejevalnik vbodov za vezenje
GenericName[sv]=Korsstygnseditor
GenericName[tr]=Çapraz Dikiş Düzenleyicisi
GenericName[uk]=Редактор схем для вишивання хрестиком
GenericName[zh_CN]=十字绣编辑器
Comment=A cross stitch application
Comment[bs]=Aplikacija za uređivanje goblena
Comment[ca]=Una aplicació de punt de creu
Comment[ca@valencia]=Una aplicació de punt de creu
Comment[cs]=Aplikace pro vyšívání křížkovým stehem
Comment[da]=Et program til korssting
Comment[de]=Ein Kreuzstich-Programm
Comment[el]=Μια εφαρμογή για σταυροβελονιές
Comment[en_GB]=A cross stitch application
Comment[eo]=Kruckudra aplikaĵo
Comment[es]=Una aplicación de punto de cruz
Comment[et]=Tikkimispistete rakendus
Comment[eu]=Gurutze-punturako aplikazio bat
Comment[fr]=Éditeur et concepteur de modèles à broder au point de croix, avec possibilité d'importation d'images
Comment[gl]=Unha aplicación de cruz en punta.
Comment[he]=יישום תכים משוכלים
Comment[hu]=Egy keresztszemes alkalmazás
Comment[it]=Un'applicazione per il punto croce
Comment[ka]=ქარგვის აპლიკაცია
Comment[ko]=십자수 앱
Comment[nl]=Een programma voor kruissteken
Comment[nn]=Krosstingprogram
Comment[pl]=Program cross stitch
Comment[pt]=Uma aplicação de ponto de cruz
Comment[pt_BR]=Um aplicativo de ponto de cruz
Comment[ru]=Приложение для вышивки крестом
Comment[sk]=Aplikácia na krížové stehy
Comment[sl]=Program za vezenje
Comment[sv]=Ett korsstygnsprogram
Comment[tr]=Bir çapraz dikiş uygulaması
Comment[uk]=Програма для роботи зі схемами для вишивання хрестиком
Comment[zh_CN]=十字绣应用
Icon=kxstitch
Exec=kxstitch %U
Terminal=false
MimeType=application/x-kxs;
Categories=Qt;KDE;Graphics;2DGraphics;RasterGraphics;
X-DocPath=kxstitch/index.html
X-DBUS-StartupType=None
X-DBUS-ServiceName=org.kde.kxstitch
